:root {
    background: #eeeeee;
}

main {
    margin: auto;
}

textarea {
    resize: none;
}

#container {
    display: flex;
    justify-content: space-around;
    height: 20em
}

#input-container, #preview-container {
    width: 48%;
    height: 20em;
}

#preview {
    background-color: white;
    overflow: auto;
}

#input, #preview {
    width: 100%;
    height: 80%;
}

#output {
    width: 100%;
    height: 5em;
}

article {
    color: gray;
}